#header {
    width: 100%;
}

body {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #f59393 50%, #f5b0b0 50%);
    background-size: 200px 100%;
}


a:link {
    text-decoration: none;
    color: rgb(121, 217, 241);
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
.tskr {
    position: absolute;
    top: 900px;
    left: 1800px;
    height: 25px;
    width: 25px;
}
.header-main {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    height: 100px;
    }
.imgL22 {
    width: 200px;
    position: absolute;
    left: 50px;
}
.header-1 {
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.nav22_btn:hover {
    background-color: rgba(56, 247, 231, 0.692);
    border-radius: 5px;
    animation-name: bounce;
    animation-duration: 0.5s;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.Eisen {
    height: 85%;
    width: 33.6%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 31%;
    margin: 0 auto;
}
.eisenn {
    align-items: center;
}

.eisenn:hover .hiddenText {
    font-size: 30px;
    font-family: monospace;
    text-shadow: 2px 2px 2px black;
    animation: moveTextLeft 2s forwards;
}

.hiddenText {
    position: absolute;
    top: 100px;
    left: 300px;
    opacity: 0;
}

.eisenn:hover .hiddenText2 {
    font-size: 30px;
    font-family: monospace;
    text-shadow: 2px 2px 2px black;
    animation: moveTextRight 2s forwards;
}

.hiddenText2 {
    position: absolute;
    top: 450px;
    left: 300px;
    opacity: 0;
}

.eisenn:hover .hiddenText3 {
    font-size: 30px;
    font-family: monospace;
    text-shadow: 2px 2px 2px black;
    animation: moveTextLeft 2s forwards;
}

.hiddenText3 {
    position: absolute;
    top: 600px;
    left: 300px;
    opacity: 0;
}

@keyframes moveTextLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100% {
        transform: translateX(-600px);
        opacity: 1;
    }
}

@keyframes moveTextRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100% {
        transform: translateX(500px);
        opacity: 1;
    }
}

.name {
    border-radius: 25px;
    margin: 0;
    width: 430px;
    margin-left: 70%;
    margin-top: 2%;
    font-size: 150px;
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.name:hover {
    transition: shake 1s ease-in-out;
    animation-name: stop;
    animation-duration: .5s;
}
@keyframes shake{
    ease-in-out
    14%{
        transform: translateX(-15px);
    }
    16%{
        transform: translateX(25px);
    }
    30%{
        transform: translateX(-15px);
    }
    40%{
        transform: translateX(15px);
    }
}
@keyframes stop {
    0%{
        transform: translate(0px);
    }
}
.description {
    margin-left: 70%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 400px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}
.description:hover {
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
    animation-name: bounce;
    animation-duration: 0.9s;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}